html, body {
  min-height: 100%;
}
/* 
body:has(.light-mode-hack) {
  background: radial-gradient(#77EED8, #9EABE4);
  background: radial-gradient(#32c2a7, #5266be);
}

body:has(.dark-mode-hack) {
  background: radial-gradient(#77EED8, #9EABE4);
} */

.main {
  transition: margin-left .5s;
  padding-left: 20vw;
}