* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.card {
    background-color: white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 40px;
    border-radius: 10px;
    min-width: 300px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
}

.card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

.heading {
    text-align: left;
    font-weight: 600;
    color: #4eca9f;
    /* text-decoration: underline; */
}

.padding {
    padding-top: 5%;
    padding-bottom: 5%;
    color: #4eca9f;
}

.content {
    color: black;
}

.subheading {
    font-weight: 600;
    margin-top: 5%;
    text-align: left;
    color: #8193e3;
}

.subsubheading {
    font-weight: 600;
    color: #8193e3;
    min-width: 70px;
}

.subsubsubheading {
    color: gray;
    font-style: italic;
}

.red {
    color: #ab3a3a;
}

.green {
    color: #3aab40;
}

.row {
    margin-top: 5%;
    display: flex;
}

.col {
    margin-bottom: 5%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
}