.card {
    background-color: white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 40px;
    border-radius: 10px;
    min-width: 300px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
}

.card[data-dark=true] {
    background-color: #1a1d1d;
    color: rgb(226, 226, 226);
}

.card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.45);
}

.heading {
    text-align: left;
    font-weight: 600;
    color: #4eca9f;
    display: flex;
    align-items: center;
}

.icon {
    height: 35px;
    width: 35px;
    margin-right: 10px;
    margin-bottom: 0px;
    color: #4eca9f;
}

.padding {
    padding-top: 5%;
    padding-bottom: 5%
}
/* 
.content {
    color: black;
} */

.subheading {
    font-weight: 600;
    text-align: left;
    color: #8193e3;
}

.subsubheading {
    font-weight: 600;
    color: #8193e3;
    min-width: 70px;
}

.subsubsubheading {
    color: gray;
    font-style: italic;
}

.red {
    color: #ab3a3a;
}

.green {
    color: #3aab40;
}

.row {
    display: flex;
}

.col {
    margin-bottom: 5%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
}

.grid {
    margin: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profile {
    height: 150px;
    width: 150px;
    color: gray;
    margin: 0;
    padding: 0;
}